<h1 class="title">Languages</h1>

<% unless @languages.blank? %>
  <table class="table is-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th>Active</th>
      <th class="has-text-centered" colspan="3">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.title %></td>
        <td><%= language.active %></td>
        <td><%= link_to 'Show', language %></td>
        <td><%= link_to 'Edit', edit_octobot_language_path(language) %></td>
        <td><%= link_to 'Destroy', language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <hr/>
<% end %>

<%= link_to 'New Language', new_octobot_language_path, class: 'button is-link' %>
